@inject IJSRuntime JS

<header id="header" class="header d-flex align-items-center fixed-top">
    <div
        class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="assets/img/logo-with-title.png" alt="">
            @* <h1 class="sitename">MKnET</h1> *@
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active" @onclick="@ToggleMenu">Inicio</a></li>
                <li><a href="#about" @onclick="@ToggleMenu">Nosotros</a></li>
                <li><a href="#services" @onclick="@ToggleMenu">Servicios</a></li>
                <li><a href="#portfolio" @onclick="@ToggleMenu">Multimedia</a></li>
                <li><a href="#team" @onclick="@ToggleMenu">Miembros</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list" @onclick="@ToggleMenu"></i>
        </nav>

        <a class="btn-getstarted" href="#faq">Preguntas</a>

    </div>
</header>

@code {

    private async Task ToggleMenu()
    {
        await JS.InvokeVoidAsync("mobileMenuToggle.toggleMenu");
    }
}
