<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>MKnet - Landing page</title>
    
    <link rel="stylesheet" href="@Assets["css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/animate.css"]" />
    <link rel="stylesheet" href="@Assets["css/LineIcons.css"]" />
    <link rel="stylesheet" href="@Assets["css/owl.carousel.css"]" />
    <link rel="stylesheet" href="@Assets["css/owl.theme.css"]" />
    <link rel="stylesheet" href="@Assets["css/magnific-popup.css"]" />
    <link rel="stylesheet" href="@Assets["css/nivo-lightbox.css"]" />
    <link rel="stylesheet" href="@Assets["css/main.css"]" />
    <link rel="stylesheet" href="@Assets["css/responsive.css"]" />


    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["MKnet.LandingPage.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    
    <script src="js/jquery-min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/nivo-lightbox.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/main.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
